<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.launchmode.artus.launchmode">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Standart"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".StandartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SingleTopActivity"
            android:launchMode="singleTop"
            android:label="Single Top">
        </activity>

        <activity
            android:name=".SingleTaskActivity"
            android:launchMode="singleTask"
            android:label="SingleTask">
        </activity>

        <activity
            android:name=".SingleInstanceActivity"
            android:launchMode="singleInstance"
            android:label="Single Instance">
        </activity>
    </application>

</manifest>